
.fill-circle {
	width: 210px;
	height: 210px;
	position:absolute;
	vertical-align: middle;
	background-color:#fff;
	border-radius: 50%;
	/*bottom four lines are a trick to align vertically and horizontally*/
	top:50%;  
	left: 50%; 
	/*margin-top: negative half of childs height
	 *margin-left: negative half of childs width
	 */
	margin-top:-105px; 
	margin-left: -105px; 
}

.quarter {
	width: 200px;
	height: 200px;
}

.top-left {
	border-top-left-radius: 200px;
	background: #2dd852;
	float: left;
	margin-bottom: 10px;
}

.top-left-active {
	background-color: #1fb14e;
}

.top-right {
	border-top-right-radius: 200px;
	background: #f44242; 
	float: right;
	margin-bottom: 10px;
}

.top-right-active {
	background-color: #c13636;
}

.bottom-left {
	border-bottom-left-radius: 200px;
	background: #ffe102;
	float: left;
}

.bottom-left-active {
	background-color: #d1ae00;
}

.bottom-right {
	border-bottom-right-radius: 200px;
	background: #1ba8e0;
	float: right;
}

.bottom-right-active {
	background-color: #1588b5;
}

.labels {
	margin-top: 32px;
	text-align: center;
	font-family: Roboto Condensed;
	text-transform: uppercase;
	font-size: 0.8em;
}

.toggle-label {
	
}

/*code for sliders*/
.switch {

	position: relative;
	display: inline-block;
	width: 50px;
	height: 29px;
}

.switch input {display:none;}

.slider {
	border-radius: 10%;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
}
#circle {
	width: 410px;
	height: 410px;
	position:relative;
	margin: 50px auto;
}

#name {
	width: 210px;
	position: absolute;
	top: 32%;
	transform: translateY(-50%);
	text-align: center;
	font-family: Anton;
	font-size: 3.0em;
	letter-spacing: 1.3px;
}

#utility {
	height: 50px;
	width: 210px;
	position: relative;
	top: 55%;
	transform: translateY(-50%);
	/*background: yellow;*/
}

#google {
	line-height: 29px;
	width: 50px;
	height: 29px;
	margin: 0 auto;
	position: relative;
	top: 55%;
	transform: translateY(-50%);
}

#counter, #startButton, #strictButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}



#counter {
	left: 6%;
	height: 30px;
	width: 50px;
	background-color: blue; 
	border-radius: 10%;

}


#startButton {
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 30px;
	width: 30px;
	background-color: green;
	border-radius: 50%; 
}

#strictButton {
	right: 10%;
	height: 30px;
	width: 30px;
	background-color: red;
	border-radius: 50%; 
}
#strict {
	float: right;
}
