.fill-circle {

	width: 190px;
	height: 190px;
	position:absolute;
	vertical-align: middle;
	background-color:#fff;
	border-radius: 50%;
	/*bottom four lines are a trick to align vertically and horizontally*/
	top:50%;  
	left: 50%; 
	/*margin-top: negative half of childs height
	 *margin-left: negative half of childs width
	 */
	margin-top:-95px; 
	margin-left: -95px; 
}

.quarter {
	width: 200px;
	height: 200px;
}

.bottom-right:hover {
	background-color: #2a78f7;
}

.top-left {
	border-top-left-radius: 200px;
	background: #2dd852;
	float: left;
	margin-bottom: 10px;
}

.top-left-active {
	background-color: #1fb14e;
}

.top-right {
	border-top-right-radius: 200px;
	background: #f44242; 
	float: right;
	margin-bottom: 10px;
}

.top-right:hover {
	background-color: #de232c;
}

.bottom-left {
	border-bottom-left-radius: 200px;
	background: #ffe102;
	float: left;
}

.bottom-left:hover {
	background-color: #fecc0b;
}

.bottom-right {
	border-bottom-right-radius: 200px;
	background: #1ba8e0;
	float: right;
}

#circle {
	width: 410px;
	height: 410px;
	position:relative;
	
	margin: 50px auto;
}

#name {
	width: 190px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	font-family: Zilla Slab;
	font-size: 2.5em;
	text-transform: uppercase;
}
